#content {
    position: absolute;
    top: 97%;
    z-index: 1;
    height: 200px;
    background: black;
    width: 100%;
    display: none;
}

.prime {
    img {
      max-width: 100%;
      height: auto;
    }
    .swiper-slide {
        transition: 250ms all;

        &:hover {
            transform: scale(1.1);
            z-index: 1;
        }
        &:hover #content {
            display: block;
        }
    }
  }